@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BookStore.Website.Areas.Admin.Models
@model BookImageViewModel

@{
    ViewData["Title"] = "CreateBookImageToBook";
    Layout = null;
}
<script src="~/ckeditor/ckeditor.js"></script>
<form id="form-dialog" method="post" autocomplete="off" asp-action="Create" asp-controller="BookImage" enctype="multipart/form-data" asp-area="Admin">
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="BookId" />
    <div id="book" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <input type="hidden" asp-for="@Model.BookImageId" class="form-control" />
                    <div class="col-md-12 form-field">
                        <div>
                            <div class="row">
                                @if (Model.FilePath != null)
                                {
                                    <div class="text-center m-2 float-start">
                                        <img src="@Model.FilePath" class="img-fluid" id="image-display" />
                                    </div>
                                }
                                else
                                {
                                    <div class="text-center m-2 float-start">
                                        <img src="https://img.icons8.com/dotty/100/000000/add-image.png" class="img-fluid" id="image-display" />
                                    </div>
                                }
                            </div>
                            <div class="row text-center p-5">
                                <input required onchange="OnLoadImage('#FileUpLoad', '#image-display')" type="file" asp-for="@Model.FileUpLoad" />
                                <label onclick="OnLoadImage('#FileUpLoad', '#image-display')" asp-for="@Model.FileUpLoad" for="FileUpLoad" class="btn btn-outline-success">
                                    Thêm ảnh <i class="fa-solid fa-plus fs-5 p2"></i>
                                </label>
                                <span asp-validation-for="@Model.FileUpLoad" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-field">
                        <div>
                            <label asp-for="@Model.Decription"></label>
                            <textarea type="text" id="Decription" name="Decription" asp-for="Decription" class="form-control form-input" placeholder=" "></textarea>
                            <script>
                                // Replace all three <textarea> elements above with CKEditor instances.
                                CKEDITOR.replaceAll();
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6 text-end">
            <button id="back" class="btn btn-primary" type="button" data-bs-dismiss="modal">
                <span class="fs-4">Back</span>  <i class="fa-solid fa-caret-left fs-4"></i>
            </button>
        </div>
        <div class="col-6">
            @*onclick="CreateBookImage('@Url.Action("Create", "BookImage")')"*@
            <button id="save" class="btn btn-success" type="submit">
                <span class="fs-4">Save</span> <i class="fa-solid fa-floppy-disk fs-4"></i>
            </button>
        </div>
    </div>
</form>
@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}