@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using BookStore.DAL.Entities

@inject SignInManager<User> SignInManager
@{
    var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
    var loginProviders = schemes.ToList();
    if (loginProviders.Count == 0)
    {
    }
    else
    {
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <div>
                <p>
                    @foreach (var provider in loginProviders)
                    {
                        var cssClass = "btn btn-user btn-block";
                        var icon = "";
                        if (provider.Name == "Google")
                        {
                            cssClass = "btn btn-google btn-user btn-block";
                            icon = "<i class=\"fab fa-google\"></i>";
                        }
                        else if (provider.Name == "Facebook")
                        {
                            cssClass = "btn btn-facebook btn-user btn-block";
                            icon = "<i class=\"fab fa-facebook\"></i>";
                        }
                        <button type="submit" class="@cssClass"
                        name="provider" value="@provider.Name"
                        title="Log in using your @provider.Name account">
                            @Html.Raw(icon) @provider.Name
                        </button>
                    }
                </p>
            </div>
        </form>
    }
}